<div class="box box-info">
  <div class="box-header">
    <h3 class="box-title">Files</h3>
    <%= link_to new_project_file_path, class: "btn btn-info pull-right" do %>
      <i class="fa fa-plus"></i>
      <span>Add File</span>
    <% end %>
  </div>
  <div class="box-body">
  </div>
  <div class="box-footer clearfix no-border">
  </div>
</div>